/* VARIABLES */
$color-grey: #ddd;
$color-dark-grey: #333940;
$color-green: #689f38;
$color-teal: #243025;
$color-dark-teal: #1d261e;
$color-blue: #0d47a1;
$color-orange: #fa5b0f;
$color-red: #dd3333;
$color-dark-red: #94090d;

$bg-nav-color-green: #b2f2bb;
$dark-green: #47614b;
