/* VARIABLES */
$color-grey: #ddd;
$color-dark-grey: #343434;
$color-green: #689f38;
$color-teal: #007f73;
$color-dark-teal: #00433c;
$color-blue: #0d47a1;
$color-orange: #fa5b0f;
$color-red: #d50000;
$color-dark-red: #94090d;
