@import "../../../styles/breakpoints";

.root {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 4rem;
  width: 100%;
  padding: 2rem 3rem;
  margin: 2rem 0;
  border: 3px solid $color-grey;
  border-radius: 8px;

  @include responsive(laptop) {
    grid-column-gap: 1rem;
    font-size: 0.8rem;
  }
  @include responsive(tablet) {
    font-size: 0.9rem;
  }

  @include responsive(mobileFull) {
    row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  @include responsive(mobile) {
    padding: 2rem 1rem;
  }
}

.message__box {
  background-color: $color-grey;
  padding: 1.2rem;
  border-radius: 14px;
  max-width: 567px;
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
