@import "../../../styles/breakpoints";

.form {
  display: flex;
  align-items: center;
  gap: 2rem;

  @include responsive(mobile) {
    flex-direction: column;
    gap: 0.1rem;
    font-size: 0.9rem;
  }
}

.filter {
  margin: 1rem 0;
}
