@import "../../../styles/breakpoints";

.info {
  color: $color-dark-grey;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  & h1 {
    font-weight: 500;
    font-size: 1.2rem;
    @include responsive(mobile) {
      font-size: 0.8rem;
    }
  }

  & .image {
    width: auto;
    @include responsive(mobile) {
      width: 264px;
      height: 264px;
    }
    @include responsive(tablet) {
      width: 416px;
      height: 416px;
    }
  }
}
