@import "../../../styles/breakpoints";

.input {
  margin-bottom: 1.25rem;
  padding: 1rem;
  border: 1px solid $color-grey;
  border-radius: 0.25rem;

  &:hover {
    border-color: black;
  }

  @include responsive(mobile) {
    font-size: 0.7rem;
  }
}

.date__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.8rem;
}

.label {
  display: block;
  font-size: 0.825rem;
  color: $color-dark-grey;
  text-align: left;

  letter-spacing: 1px;

  @include responsive(mobile) {
    font-size: 0.7rem;
  }
}
