@import "../../../styles/breakpoints";

.root {
  margin-top: 0.5rem;
}

.star {
  font-size: 2rem;
  color: $color-grey;

  @include responsive(tablet) {
    font-size: 1.6rem;
  }

  @include responsive(mobile) {
    font-size: 1.4rem;
  }

  &--golden {
    font-weight: bold;
    color: gold;
  }

  &--active {
    cursor: pointer;
  }
}
