@import "../../src/app/styles/breakpoints";

.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & h1 {
    padding-bottom: 2rem;
  }
}

.container {
  max-width: 996px;
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 4rem;
  background: #fff;
  border-radius: 1rem;
  border: 1px solid $color-grey;
  box-shadow: 2px 2px 1px $color-grey;
  padding: 1rem 2rem;

  &__left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__description {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      padding: 1rem 0.3rem;
    }
    & img {
      width: 100%;
      height: auto;
    }
  }

  &__right_side {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    position: relative;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      background-color: $color-teal;
      width: 4px;
      height: 60%;
      top: 50%;
      left: -6%;
      transform: translateY(-50%);
    }

    & p {
      font-size: 0.9rem;

      & a {
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}

.form {
  &__legend {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.error {
  font-size: 0.875rem;
  font-weight: bold;
  color: $color-red;
  margin: 1rem 0;
}

@include responsive(mobile) {
  .root {
    & h1 {
      font-size: 1.6rem;
      padding: 2rem 0;
    }
  }
  .container {
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 3rem 0.6rem;
    margin: 0 1rem;

    &__left_side {
      align-items: center;
      & img {
        width: 80%;
      }
    }

    &__right_side {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      &::after {
        display: none;
      }

      & p {
        font-size: 0.7rem;
      }
    }
  }

  .form {
    &__legend {
      font-size: 1.6rem;
    }
  }
}
