.root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 4rem;
  padding-top: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 1.5rem;
  margin: 1rem 0;
  border: 1px solid $color-grey;
  border-radius: 1rem;
}

.details {
  &__heading {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }

  &__content {
    margin: 0.5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
  }
}

.form {
  position: relative;
  padding: 2rem 0;

  &__fieldset {
    padding: 1rem 2rem;
    margin: 2rem 0;
    border: 1px solid $color-grey;
    border-radius: 1rem;
  }

  &__legend {
    font-size: 0.875rem;
    font-weight: bold;
  }
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;

  > :first-child {
    margin-top: 2rem;
    grid-column: 1 / -1;
  }
}

.photo {
  > img {
    border-radius: 1rem;
  }
}
